

!!--------------------
!![-- Appearance --]!
!!--------------------

! Fonts
!URxvt.font: xft:Hack:size=11
!URxvt.font: xft:Terminus:size=12
!URxvt.font: xft:CyberpunkWaifus:size=13
URxvt.font: xft:Liberation Mono:size=12 
!URxvt.letterSpace:-1
!URxvt.letterSpace: 0
! Transparency
!URxvt*depth: 32
!URxvt.background: [65]#000000
! Scrollbar
URxvt.scrollstyle: plain
URxvt.scrollBar: false
! Misc
URxvt.internalBorder: 4
URxvt.cursorBlink: false
URxvt.urgentOnBell: true



!!---------------------
!![-- Colorscheme --]!
!!---------------------

!(https://terminal.sexy/) -- create terminal color palettes easily
!  + To browse and select pre-built themes: 
!  |=> Scheme Browser (tab) -> Apply Scheme -> Export (tab) -> Export -> copy

! Color scheme by:
! |> u/EmpressNoodle
! |-> https://github.com/elenapan/dotfiles/blob/master/.xfiles/amarena
!

!*background:	#1A2026
*background:	#191d1f
*foreground:	#FFFFFF
*cursorColor:	#FFFFFF
! black
*color0:	#242D35
*color8:	#526170
! red
*color1:	#FB6396
*color9:	#F92D72
! green
*color2:	#94CF95
*color10:	#6CCB6E
! yellow
*color3:	#F692B2
*color11:	#F26190
! blue
*color4:	#6EC1D6
*color12:	#4CB9D6
! magenta
*color5:	#CD84C8
*color13:	#C269BC
! cyan
*color6:	#7FE4D2
*color14:	#58D6BF
! white
*color7:	#FFFFFF
*color15:	#F4F5F2



!!-------------------------
!![-- Perl Extentions --]!
!!-------------------------

URxvt.perl-ext-common: default,font-size

URxvt.keysym.C-j:     font-size:decrease
URxvt.keysym.C-k:      font-size:increase
URxvt.keysym.C-equal:     font-size:reset



!!-------------------
!![-- Functions --]!
!!-------------------

URxvt.keysym.Shift-Control-c: eval:paste_cliboard
URxvt.keysym.Shift-Control-v: eval:selection_to_clipboard







